/* All black background with white text */
body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #000;
    color: #c0c0c0;
    position: relative;
    overflow-x: hidden;
}

header {
    background-color: #000;
    padding: 1rem;
    text-align: left;
}

#hamburger {
    background: none;
    border: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}

#sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Hidden off-screen */
    width: 250px;
    height: 100%;
    background-color: #000;
    padding: 2rem 1rem;
    transition: left 0.3s ease;
    z-index: 1000;
}

#sidebar.active {
    left: 0; /* Slide in */
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul li {
    margin: 1rem 0;
}

#sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

#sidebar ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
    text-align: left;
}

h1 {
    color: #fff;
}

form {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input, textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: #333; /* Dark gray for inputs */
    border: 1px solid #fff;
    color: #fff;
}

button {
    background-color: #000;
    color: #fff;
    padding: 0.5rem 1rem;
    border: 1px solid #fff;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

/* Links */
/* Styling for unvisited links */
a:link {
  color: teal; /* Sets the color to green */
  text-decoration: none; /* Removes the default underline */
}

/* Styling for visited links */
a:visited {
  color: teal; /* Sets the color to purple */
}

/* Styling for links on hover */
a:hover {
  color: orange; /* Sets the color to red on hover */
  text-decoration: underline; /* Adds an underline on hover */
}

/* Styling for active links */
a:active {
  color: teal; /* Sets the color to blue when clicked */
}


/* Code blocks */
pre {
  background-color: #3b3b3b; /* dark grey */
  color: #f8f8f8;          /* black text for contrast */
  padding: 1em;
  border-radius: 6px;
  overflow-x: auto;
}

pre code {
  background: none; /* avoid double background */
  color: inherit;
  padding: 0;
}

/* Inline code (single backticks) */
code {
  background-color: #3b3b3b; /* dark grey */
  color: #f8f8f8;          /* black text for contrast */
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-family: monospace;
}

img {
    width : 200;
    height: auto; /*to preserve the aspect ratio of the image*/
    /* display: block; Make the image a block-level element */
    /* margin: 0 auto; Set left and right margins to auto */
}

footer {
    background-color: #000;
    padding: 1rem;
    text-align: left;
    position: fixed;
    bottom: 0;
    width: 100%;
}