<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <button id="hamburger" aria-label="Toggle navigation">&#9776;</button> <!-- Hamburger icon -->
    </header>
    <nav id="sidebar">
        <ul>
            <li><a href="https://scentience.github.io/docs-api/">Home</a></li>
            <li><a href="https://scentience.github.io/docs-api/about">About</a></li>
            <li><a href="https://scentience.github.io/docs-api/contact">Contact</a></li>
            <li><a href="https://scentience.github.io/docs-api/api-reference">Contact</a></li>
            <li><a href="https://scentience.github.io/docs-api/getting-started">Contact</a></li>
        </ul>
    </nav>
    <main>
        {{ content }}
    </main>
    <footer>
        <p>&copy; 2025 {{ site.title }}. All rights reserved.</p>
    </footer>
    <script src="/js/script.js"></script>
</body>
</html>